@namespace BlazingSpire.Demo.Components.UI
@inherits BlazingSpire.Demo.Components.Shared.ChildOf<BlazingSpire.Demo.Components.UI.TabsList>

<button type="button" role="tab" aria-selected="@IsActive.ToString().ToLowerInvariant()" data-state="@DataState"
        tabindex="@TabIndex" disabled="@Disabled" class="@Classes"
        @onclick="OnClickAsync" @onkeydown="OnKeyDownAsync" @attributes="AdditionalAttributes">
    @ChildContent
</button>
